.calendar-container {
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding: 0;
      margin: 0;
      line-height: 1;
      font-family: 'Varela Round', sans-serif;
    }
  }
  .calendar-container h1, .calendar-container h2 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Varela Round', sans-serif;
  }
  .calendar-header {
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
  }

  .month-indicator {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    h4 {
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .bae-date-indicator {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-template-rows: repeat(6, minmax(35px, 1fr));
    grid-gap: 5px;
    padding: 0 15px;
    .date-icon {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-items: center;
      height: 25px;
      width: 25px;
      padding: 5px;
      cursor: pointer;
      &[data-active-month='false'] {
        color: rgba(0, 0, 0, 0.3);
      }
      &.active,
      &.selected {
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .weekday-indicators {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-template-rows: 1;
    padding: 15px;
    .weekday-indicator-icon {
      height: 25px;
      width: 44px;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-weight: bold;
      cursor: pointer;
      &.active {
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      }
    }
  }



$primaryColor: #fa8072;
$secondaryColor: #ffa98f;
$highlightTextColor: #d95e39;
$activeTextColor: #f8f8ff;

.calendar-container {
  h1,
h2,
h3,
h4,
h5,
h6 {
  color: $activeTextColor;
}

.calendar-header {
  background-color: $primaryColor;
}

.weekday-indicators {
  .weekday-indicator-icon {
    color: $highlightTextColor;
    &.active {
      background-color: $primaryColor;
      color: $activeTextColor;
    }
  }
}

.bae-date-indicator {
  .date-icon {
    &.active {
      background-color: $secondaryColor;
      color: $activeTextColor;
    }
    &.selected {
      background-color: $primaryColor;
      color: $activeTextColor;
    }
  }
}

.month-indicator {
  background-color: $primaryColor;
}

}
