.alert {
  position: relative;
  padding: 8px 15px 8px 37px;
  word-wrap: break-word;
  border-radius: 2px;
  &-primary {
    @include button-style($primary, $primary, $white)
  }
  &-danger {
    @include alert-style($danger, $danger, $white)
  }
}


